<div class="hero-text">
    <br>
    <h1 class="hero-title"><strong>Bem-vindo à Automarket</strong></h1>
    <img src="https://i.imgur.com/EsOUOJv.png" alt="Mascote Automarket" width="200">
</div>
<div class="card-container">
    <div class="card">
        <img src="https://img.freepik.com/free-photo/young-couple-talking-sales-person-car-showroom_1303-15679.jpg?t=st=1719781297~exp=1719784897~hmac=f7046d45b1895dc79865140f92da1c826daf6d69506fb747d7f7308b4de0e323&w=1380" class="card-img-top" alt="Imagem para Comprar Carro">
        <div class="card-body">
            <h5 class="card-title">Dicas para comprar seu veículo</h5>
            <p class="card-text">Encontrar o veículo certo pode ser uma jornada emocionante. Estas dicas irão ajudá-lo desde a pesquisa inicial até fechar o negócio. Saiba como escolher o modelo certo, verificar a condição do veículo e negociar o melhor preço.</p>
            <a href="https://ourocarjf.com.br/blog/7-dicas-para-comprar-carro-seminovo-e-nao-errar-na-escolha/" class="btn btn-primary" target="_blank" rel="noopener">Saiba Mais</a>
        </div>
    </div>
    <div class="card">
        <img src="https://plus.unsplash.com/premium_photo-1661288439917-1542b58a962b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="Imagem para Vender Carro">
        <div class="card-body">
            <h5 class="card-title">Dicas para vender seu veículo</h5>
            <p class="card-text">Vender seu véiculo pode ser um processo desafiador, mas com as estratégias certas, você pode garantir uma venda rápida e pelo melhor preço possível. Aprenda como preparar seu veículo para venda, anunciar eficazmente e negociar com potenciais compradores.</p>
            <a href="https://blog.fras-le.com/como-vender-um-carro/" class="btn btn-primary" target="_blank" rel="noopener">Saiba Mais</a>
        </div>
    </div>
</div>